//====================================================================================================
.main {
	&._active {
		.main__button_play {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__button_shop {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__button_privacy {
			animation: show_item_x 0.5s $timingFunction_2 forwards 0.6s;
		}
		.main__airplane-box {
			animation: show_airplane 1s ease forwards 1.5s;
		}
	}
	// .main__body

	&__body {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 100vh;

		&._shop {
			.main__buttons-box {
				top: -100%;
				z-index: -1;
			}
			.shop {
				opacity: 1;
				z-index: 10;
				top: 50%;
			}
			.main__button-back {
				opacity: 1;
				@include adaptiveValue("left", 30, 15, 1200, 550, 1);
				z-index: 11;
			}
			.main__money {
				opacity: 1;
				@include adaptiveValue("right", 30, 15, 1200, 550, 1);
				z-index: 11;
			}
		}
	}

	// .main__content

	&__content {
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		min-height: 100vh;
	}

	// .main__buttons-box

	&__buttons-box {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: center;
		@include adaptiveValue("row-gap", 50, 20, 1200, 550, 1);

		width: 100%;
		height: 100%;

		transition: all 0.7s $timingFunction 0s;
		@media (min-height: em(600)) {
			top: 10%;
		}
	}

	// .main__airplane-box

	&__airplane-box {
		transform: translate(-100%, 100%);
	}

	// .main__airplane

	&__airplane {
		display: flex;
		justify-content: center;
		animation: fly-main 20s ease infinite;
		@media (min-height: em(600)) {
			img {
				width: rem(500);
			}
		}
	}

	// .main__buttons

	&__buttons {
	}

	// .main__buttons-inner

	&__buttons-inner {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 50, 25, 1200, 550, 1);
	}

	// .main__button

	&__button {
		&_play {
			opacity: 0;
			transform: translateX(-1000px);
		}
		// .main__button_shop

		&_shop {
			opacity: 0;
			transform: translateX(1000px);
		}

		&_privacy {
			opacity: 0;
			transform: translateX(-1000px);
		}
	}

	// .main__button-back

	&__button-back {
		position: absolute;
		left: rem(-215);
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);

		opacity: 0;
		z-index: -1;
		transition: all 0.7s $timingFunction 0s;
	}

	// .main__money

	&__money {
		position: absolute;
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);
		right: rem(-215);
		width: auto;

		opacity: 0;
		z-index: -1;
		transition: all 0.7s $timingFunction 0s;
	}
}
.shop {
	position: absolute;
	top: rem(500);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;

	opacity: 0;
	z-index: -1;

	transition: all 0.7s $timingFunction 0s;
	// .shop__body

	&__body {
		display: grid;
		grid-template-rows: 1fr 76px;

		max-width: 70%;
		min-height: 100%;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		column-gap: rem(10);
	}

	// .shop__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 20vw;
		height: 55vh;
		min-height: rem(210);
		min-width: rem(125);

		background: linear-gradient(180deg, #ca24e6 0%, rgba(165, 0, 192, 0) 100%);
		border-radius: rem(10);

		transition: all 0.7s ease 0s;

		&._bought {
			.shop__price {
				display: none;
			}
		}
		&_1 {
			background-image: linear-gradient(180deg, #e62424 0%, rgba(192, 0, 0, 0) 100%);
		}
		&_2 {
			background-image: linear-gradient(180deg, #242ce6 0%, rgba(192, 0, 0, 0) 100%);
		}
		&_3 {
			background-image: linear-gradient(180deg, #e624bb 0%, rgba(192, 0, 0, 0) 100%);
		}
	}

	// .shop__image

	&__image {
		flex: 1 1 auto;
		padding-top: rem(20);
		margin-bottom: rem(10);
		img {
			@include adaptiveValue("width", 200, 80, 1200, 550, 1);
			@media (min-height: em(600)) {
				padding-top: rem(60);
			}
		}
	}

	// .shop__price

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: rem(10);
		@media (min-height: em(600)) {
			margin-bottom: rem(30);
		}
	}

	// .shop__icon

	&__icon {
		position: relative;
		top: rem(-5);
	}

	// .shop__count

	&__count {
	}

	// .shop__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue("width", 170, 120, 1200, 550, 1);
		@include adaptiveValue("min-height", 45, 30, 1200, 550, 1);

		margin-bottom: rem(10);

		background: #28a909;
		border-radius: rem(8);

		transition: all 0.3s ease 0s;
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 18, 12, 1200, 550, 1);
			line-height: math.div(16, 14);
			color: #ffffff;
			text-transform: uppercase;
			&::after {
				content: "ED";
				display: none;
			}
		}
		&._bought {
			background: #ff930e;
		}
		._selected & {
			background-color: transparent;
			pointer-events: none;
			p {
				&::after {
					display: inline-block;
				}
			}
		}
		&:active {
			transform: scale(0.9);
		}
		@media (min-height: em(600)) {
			margin-bottom: rem(30);
		}
	}

	&__footer {
		max-height: rem(76);
	}
}

//========================================================================================================================================================
.game {
	// .game__body

	&__body {
		position: relative;
		min-height: 100vh;

		padding: rem(20) rem(70) 0;
	}

	// .game__button-back

	&__button-back {
		position: absolute;
		@include adaptiveValue("top", 30, 15, 1200, 550, 1);
		@include adaptiveValue("left", 30, 15, 1200, 550, 1);
	}

	// .game__content

	&__content {
		display: grid;
		grid-template: 3fr 1fr / 1fr;
		height: calc(100vh - 20px);
		row-gap: rem(15);
		@media (min-height: em(600)) {
			grid-template: 4fr 1fr / 1fr;
		}
	}

	// .game__field

	&__field {
	}

	// .game__footer

	&__footer {
	}
}

.field {
	// .field__body

	&__body {
		position: relative;
		min-height: 100%;

		background: #050505;
		border: 1px solid rgba(243, 243, 243, 0.18);
		border-radius: rem(10);
		overflow: hidden;

		&._fly {
			.field__vertical-dots {
				animation: moove_vert_dots 15s linear;
			}
			.field__horizontal-dots {
				animation: moove_horz_dots 15s linear;
			}
			.field__airplane {
				animation: fly_air 1s ease infinite 0.5s;
			}
		}

		&._loader {
			.field__airplane {
				animation: start_air 5s ease;
			}
			.field__coeff,
			.field__vertical-dots,
			.field__horizontal-dots {
				opacity: 0;
			}
			.field__loader {
				opacity: 1;
				visibility: visible;
				img {
					animation: rotate_helix 1s linear infinite 0.5s;
				}
			}
		}
	}

	&__circle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		svg {
			&._rotate {
				transform-origin: center;
				animation: rotate_circle 20s linear infinite;
			}
		}
	}

	// .field__coeff

	&__coeff {
		position: absolute;
		top: rem(50);
		left: 30%;
		font-weight: 600;
		@include adaptiveValue("font-size", 54, 36, 1200, 550, 1);
		line-height: math.div(56, 48);
		color: #ffffff;
	}

	// .field__vertical-dots

	&__vertical-dots {
		position: absolute;
		bottom: rem(10);
		left: rem(10);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		span {
			@include adaptiveValue("width", 10, 5, 1200, 550, 1);
			@include adaptiveValue("height", 10, 5, 1200, 550, 1);

			margin-top: rem(20);
			border-radius: 50%;
			background-color: #a60000;
			@media (min-height: em(600)) {
				margin-top: rem(50);
			}
		}
	}

	// .field__horizontal-dots

	&__horizontal-dots {
		position: absolute;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;

		height: rem(30);
		padding-left: rem(10);

		background: #050505;

		border-top-color: #363636;
		border-top-style: solid;
		border-top-width: 1px;
		transition: all 0.3s ease 0s;
		span {
			@include adaptiveValue("width", 10, 5, 1200, 550, 1);
			@include adaptiveValue("height", 10, 5, 1200, 550, 1);

			margin-right: rem(70);
			border-radius: 50%;
			background-color: #fff;
			@media (min-height: em(600)) {
				margin-right: rem(100);
			}
		}
	}

	// .field__airplane

	&__airplane {
		position: absolute;
		bottom: 7%;
		left: 2%;
		transform: rotate(15deg);
		z-index: 2;
		img {
			width: rem(121);
		}
		@media (min-height: em(600)) {
			img {
				width: rem(220);
			}
		}
	}

	&__pin {
		position: absolute;
		bottom: 5px;
		left: 10px;
		width: rem(1);
		height: rem(1);
	}

	// .field__loader

	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		visibility: hidden;
		opacity: 0;
		transition: all 0.7s ease 0s;
		@media (min-height: em(600)) {
			img {
				width: rem(200);
			}
		}
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 30, 16, 1200, 550, 1);
			line-height: math.div(23, 20);
			color: #ffffff;
		}
	}
}
.ctx {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.footer {
	// .footer__body

	&__body {
		display: grid;
		grid-template-columns: 2fr 2fr 1fr;
		align-items: center;
		min-height: 100%;
		column-gap: rem(15);

		background-color: #050505;
		border: 1px solid #383838;
		border-radius: 10px 10px 0 0;
		@include adaptiveValue("padding-inline", 27, 5, 800, 550, 1);
	}

	&__info-block {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 5, 800, 550, 1);
	}

	&__button-back,
	&__button-home {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 40, 30, 800, 550, 1);
		@include adaptiveValue("height", 40, 30, 800, 550, 1);
		border-radius: 50%;
		border: 0.5px solid rgba(255, 255, 255, 0.48);
		background-image: url("@img/icons/arrow.svg");
		background-position: center;
		background-size: 8px 14px;
		background-repeat: no-repeat;
		@media (min-height: em(600)) {
			@include adaptiveValue("flex-basis", 61, 41, 1200, 800, 1);
			@include adaptiveValue("height", 61, 41, 1200, 800, 1);
		}
	}

	// .footer__block-bet

	&__block-bet {
	}

	// .footer__button-bet

	&__button-bet {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 95%;
		@include adaptiveValue("height", 44, 35, 800, 550, 1);
		background-color: #28a909;
		border-radius: rem(8);
		transition: all 0.3s ease 0s;
		@media (min-height: em(600)) {
			@include adaptiveValue("height", 60, 40, 1200, 800, 1);
		}
		p {
			font-weight: 500;
			@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
			line-height: math.div(11, 9);
			text-align: center;
			color: #ffffff;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			@media (min-height: em(600)) {
				@include adaptiveValue("font-size", 20, 16, 1200, 800, 1);
			}
			text-transform: uppercase;
		}
		&:active {
			transform: scale(0.9);
		}
		&._cash {
			background-color: rgb(9, 169, 102);
		}
		&._loose {
			background-color: rgb(169, 9, 9);
		}

		&._hold {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	// .footer__balance-box

	&__balance-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	// .footer__balance-text

	&__balance-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 30, 16, 1200, 550, 1);
		line-height: math.div(23, 20);
		color: #ffffff;
	}

	// .footer__money

	&__money {
	}

	// .footer__cash-out-box

	&__cash-out-box {
		display: flex;
		justify-content: center;
		align-items: center;

		background: #191a18;
		border: 1px solid #96ffb3;
		border-bottom-width: 0px;
		border-radius: 15px 15px 0px 0px;
		@media (min-height: em(600)) {
			border: 2px solid #96ffb3;
			border-bottom-width: 0px;
		}
	}

	// .footer__button-cash

	&__button-cash {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: rem(5);
		width: 80%;
		height: 70%;
		background: #28a909;
		box-shadow: 0px 4px 11px rgba(45, 233, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		border-radius: rem(8);
		transition: all 0.3s ease 0s;

		font-weight: 500;
		@include adaptiveValue("font-size", 22, 8, 1200, 550, 1);
		line-height: math.div(11, 9);
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		@media (min-height: em(600)) {
			height: 30%;
		}

		&:active {
			transform: scale(0.9);
			box-shadow: 0px 2px 5px rgba(45, 233, 0, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
		}
		&._loose {
			background: rgb(169, 9, 9);
			box-shadow: 0px 4px 11px rgba(169, 9, 9, 0.51), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
			.footer__current-count {
				display: none;
			}
		}
		&._hold {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 0, 0);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 155, 155);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: yellow;
		transform: translateY(-3px);
	}
}
@keyframes show_item_y {
	0% {
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}
@keyframes show_item_x {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes show_airplane {
	0% {
		transform: translate(-100%, 100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fly {
	0%,
	60%,
	100% {
		transform: rotate(0) translateX(-50%);
	}
	70% {
		transform: rotate(-10deg) translateX(-50%);
	}
	90% {
		transform: rotate(30deg) translateX(-50%);
	}
}
@keyframes fly-main {
	0%,
	50%,
	100% {
		transform: rotate(0) translate(0, 0);
	}
	55% {
		transform: rotate(-10deg) translate(0, 0);
	}
	70% {
		transform: rotate(-10deg) translate(-60px, 10px);
	}
	80% {
		transform: rotate(30deg) translate(-60px, 10px);
	}
	90% {
		transform: rotate(30deg) translate(60px, -10px);
	}
}
@keyframes rotate_circle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes start_air {
	0%,
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes rotate_helix {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fly_air {
	0%,
	100% {
		transform: translate(0, 0) rotate(10deg);
	}
	50% {
		transform: translate(0, 20px) rotate(10deg);
	}
}
@keyframes moove_horz_dots {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-30%);
	}
}
@keyframes moove_vert_dots {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(50%);
	}
}
